<!doctype html>
<div class = "col-md-6">
  <img src = "{{image}}" alt = "{{name}}" />
  <br/>
  <h3>{{name}}</h3>
  <h3>{{health}}</h3>
</div>

{{!-- from the list template --}}
<!-- <div class="col-md-2">
  <img class="js-cute-hero" src="{{image}}" alt="{{name}}" data-name="{{name}}"/><br/>
  <h3>{{name}}</h3>
</div> -->
